<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--favicon-->
	<link rel="icon" href="/vlibrary/img/vlogo.png" type="image/png" />
	<!--plugins-->
	<link href="/dashboard_assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
	<link href="/dashboard_assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
	<link href="/dashboard_assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <link href="/dashboard_assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet" />

	<!-- loader-->
	<link href="/dashboard_assets/css/pace.min.css" rel="stylesheet" />
	<script src="/dashboard_assets/js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link href="/dashboard_assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/dashboard_assets/css/bootstrap-extended.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link href="/dashboard_assets/css/app.css" rel="stylesheet">
	<link href="/dashboard_assets/css/icons.css" rel="stylesheet">
	<!-- Theme Style CSS -->
	<link rel="stylesheet" href="/dashboard_assets/css/dark-theme.css" />
	<link rel="stylesheet" href="/dashboard_assets/css/semi-dark.css" />
	<link rel="stylesheet" href="/dashboard_assets/css/header-colors.css" />

	<title>.::Vitamin</title>
	<script src="/assets/jquery-3.6.4.min.js"></script>
	<script>
	$(document).ready(function () {
        var currentDate = new Date();
        var formattedDate = currentDate.toISOString().split('T')[0];
        document.getElementById('CreatedDate').value = formattedDate;

        $("#admin_Vitamin").submit(function (event) 
		{
            // Call validateForm function before submitting the form
            if (!validateForm()) 
			{
                event.preventDefault(); // Prevent form submission if validation fails
            }
			event.preventDefault();
					var unindexed_array = $(this).serializeArray()
					var data={}
					$.map(unindexed_array,function(n,i)
					{
						data[n['name']] = n['value']
					})
					
					console.log(data);
					var request={
						"url":'http://localhost:4000/api/Vitamin/',
						"method":'POST',
						"data":data
					}
					$.ajax(request).done(function(response){
						alert("vitamin added");
					});
			Clear();

        });
    });

    function validateForm() 
	{
		
		var vitaminName = document.getElementById('VitaminName').value;
		var VitaminDietary = document.getElementById('VitaminDietary').value;
		var RangeStart = parseFloat(document.getElementById('RangeStart').value);
		var RangeEnd = parseFloat(document.getElementById('RangeEnd').value);
		var LevelType = document.getElementById('LevelType').value;
		var Description = document.getElementById('Description').value;
		var LowLevel = document.getElementById('LowLevel').value;
		var DescriptionLow = document.getElementById('DescriptionLow').value;
		var HighLevel = document.getElementById('HighLevel').value;
		var DescriptionHigh = document.getElementById('DescriptionHigh').value;
		var UnitType = document.getElementById('UnitType').value;



		// validation logic goes here
		if (!vitaminName.trim()) 
		{
			alert('Vitamin Name cannot be empty');
			return false;
		}
		else if (!VitaminDietary.trim()) 
		{
			alert('Vitamin Dietary cannot be empty');
			
			return false;
		} 
		else if (isNaN(RangeStart) || RangeStart >= RangeEnd) 
		 {
			alert('Range Start must be a valid number and less than Range End');
			return false;
		} 
		else if (isNaN(RangeEnd)) 
		{
			alert('Range End must be a valid number');
			return false;
		} 
		else if (!Description.trim()) {
			alert('reqiured Normal Level Description');
			return false;
		}
		else if (!DescriptionLow.trim()) {
			alert('reqiured Low Level Description');
			return false;
		}
		else if (!DescriptionHigh.trim()) {
			alert('reqiured High Level Description');
			return false;
		}
		else if (!UnitType.trim()) {
			alert('Provide Unit value');
			return false;
		}else {
			// All validations passed
			return true;
		}
}
	function EditvitaminObject(_id,VitaminName,VitaminDietary,RangeStart,RangeEnd,LevelType,Description,LowLevel,DescriptionLow,HighLevel,DescriptionHigh,UnitType)
	{
		document.getElementById('_id').value = _id;
		document.getElementById('VitaminName').value = VitaminName;
		document.getElementById('VitaminDietary').value = VitaminDietary;
		document.getElementById('RangeStart').value = RangeStart;
		document.getElementById('RangeEnd').value = RangeEnd;
		document.getElementById('LevelType').value = LevelType;
		document.getElementById('Description').value = Description;
		document.getElementById('LowLevel').value = LowLevel;
		document.getElementById('DescriptionLow').value = DescriptionLow;
		document.getElementById('HighLevel').value = HighLevel;
		document.getElementById('DescriptionHigh').value = DescriptionHigh;
		document.getElementById('UnitType').value = UnitType;

		document.getElementById("btnEdit").style.display="block";
		document.getElementById("btnSubmit").style.display="none";
		
	}
	function PostDataForEdit()
	{
		if (!validateForm()) 
		{
            event.preventDefault(); 
        }
		else
		{
			var EditVitamin = 
                {
                    'id': 				$("#_id").val(),
					'VitaminName':	 	$("#VitaminName").val(),
					'VitaminDietary': 	$("#VitaminDietary").val(),
					'RangeStart': 		$("#RangeStart").val(),
					'RangeEnd': 		$("#RangeEnd").val(),
					'LevelType': 		$("#LevelType").val(),
					'Description': 		$("#Description").val(),
					'DescriptionLow': 	$("#DescriptionLow").val(),
					'DescriptionHigh': 	$("#DescriptionHigh").val(),
					'UnitType': 		$("#UnitType").val()
                };
				var request={
					"url":'/api/Vitamin/'+EditVitamin.id,
					"method":'PUT',
					"data":EditVitamin
				}
				$.ajax(request).done(function(response)
				{
					alert("vitamin Updated");
					Clear();
				});
		}
	}

	function Clear()
	{
		document.getElementById('_id').value = "";
		document.getElementById('VitaminName').value = "";
		document.getElementById('VitaminDietary').value = "";
		document.getElementById('RangeStart').value = "";
		document.getElementById('RangeEnd').value = "";
		document.getElementById('Description').value = "";
		document.getElementById('DescriptionLow').value = "";
		document.getElementById('DescriptionHigh').value = "";
		document.getElementById('UnitType').value ="";

		document.getElementById("btnEdit").style.display="none";
		document.getElementById("btnSubmit").style.display="block";
	}
	function Delete(id)
	{
		event.preventDefault();

		var request = 
		{
			"url":'http://localhost:4000/api/Vitamin/'+id,
			"method":'DELETE',
		}
		if(confirm("do you really want to delete this record"))
		{
			$.ajax(request).done(function(response)
			{
				alert("Data Deleted Successfully");
				location.reload();
			})
		}
	}
	</script>
</head>

<body>
	<!--wrapper-->
	<div class="wrapper">
		<!--sidebar wrapper -->
		<div class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
				<div>
					<img src="/vlibrary/img/vlogo.png" class="logo-icon" alt="logo icon">
				</div>
				<div>
					<h4 class="logo-text">VitaVerse</h4>
				</div>
				<div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
				</div>
			</div>
			<!--navigation-->
			<ul class="metismenu" id="menu">
				<li>
					<a href="/admin_dashboard">
						<div class="parent-icon"><i class='bx bx-home-circle'></i>
						</div>
						<div class="menu-title">Dashboard</div>
					</a>
				</li>
				<li class="menu-label">Activity Resources</li>
				<li>
					<a class="has-arrow" href="javascript:;">
						<div class="parent-icon"><i class="bx bx-user-circle"></i>
						</div>
						<div class="menu-title">Menus</div>
					</a>
					<ul>
						<li><a href="/admin_RegisteredUsers"><i class="bx bx-right-arrow-alt"></i>View Users</a></li>
						<li><a href="/admin_vitamin"><i class="bx bx-right-arrow-alt"></i>Manage Vitamins</a></li>
						<li><a href="/admin_ContactForm"><i class="bx bx-right-arrow-alt" title="Contacted"></i>Requested List</a></li>
					</ul>
				</li>
			</ul>

			<!--end navigation-->
		</div>
		<!--end sidebar wrapper -->
		<!--start header -->
		<header>
			<div class="topbar d-flex align-items-center">
				<nav class="navbar navbar-expand">
					<div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
					</div>
					<div class="search-bar flex-grow-1" style="display: none;">
						<div class="position-relative search-bar-box">
							<input type="text" class="form-control search-control" placeholder="Type to search..."> <span class="position-absolute top-50 search-show translate-middle-y"><i class='bx bx-search'></i></span>
							<span class="position-absolute top-50 search-close translate-middle-y"><i class='bx bx-x'></i></span>
						</div>
					</div>
					<div class="top-menu ms-auto">
						<ul class="navbar-nav align-items-center" style="display: none;">
							<li class="nav-item mobile-search-icon">
								<a class="nav-link" href="#">	<i class='bx bx-search'></i>
								</a>
							</li>
							
						</ul>
					</div>
					<div class="user-box dropdown">
						<a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="https://ih1.redbubble.net/image.354141339.0289/st,small,507x507-pad,600x600,f8f8f8.u2.jpg" class="user-img" alt="user avatar">
							<div class="user-info ps-3">
								<p class="user-name mb-0"><%= Name %></p>
								<p class="designattion mb-0"><%= UType %></p>
							</div>
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item" href="/changepassword"><i class="bx bx-cog"></i><span>Change Password</span></a></li>

							<li>
								<div class="dropdown-divider mb-0"></div>
							</li>
							<li><a class="dropdown-item" href="/logout"><i class='bx bx-log-out-circle'></i><span>Logout</span></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!--end header -->
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				
			 
				<div class="row">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<h1>Vitamin Dashboard</h1><hr>
								<form action="/api/Vitamin" method="POST" id="admin_Vitamin">
									<h4 class="bg-light-success">Create Vitamin's Detail</h4><hr>
									<table class="table table-borderless">
										<tr>
											<td style="width:10%">Vitamin Name<br>
												<input type="hidden" name="_id" id="_id">
												<input type="text" name="VitaminName" id="VitaminName" class="form-control" placeholder="Enter Vitamin">
											</td>
											<td style="width:20%">Dietary<br>
												<input type="text" name="VitaminDietary" id="VitaminDietary" class="form-control" placeholder="Enter Dietary">
											</td>
											<td style="width:10%">Range Start<br>
												<input type="text" name="RangeStart" id="RangeStart" class="form-control" placeholder="Enter Range">
											</td>
											<td style="width:10%">Range End<br>
												<input type="text" name="RangeEnd" id="RangeEnd" class="form-control" placeholder="Enter Range">
											</td>
											<td style="width:20%">Unit Milligram<br>
												<input type="text" name="UnitType" id="UnitType" class="form-control" placeholder="Enter UnitType">
											</td>
										</tr>
										<tr>
											<td style="width:10%">
												<input type="text" name="LevelType" id="LevelType" class="form-control" value="Normal Level" readonly>
											</td>
											<td colspan="5">
												<textarea id="Description" name="Description" class="form-control" placeholder="Description for current vitamin's"></textarea>
											</td>
										</tr>
										<tr>
											<td style="width:10%">
												<input type="text" name="LowLevel" id="LowLevel" class="form-control" value="Low Level" readonly>
											</td>
											<td style="width:10%" colspan="5">
												<textarea id="DescriptionLow" name="DescriptionLow" class="form-control" placeholder="Description"></textarea>
											</td>
										</tr>
											<tr>
											<td style="width:10%">
												<input type="text" name="HighLevel" id="HighLevel" class="form-control" value="High Level" readonly>
											</td>
											<td style="width:10%" colspan="5">
												<textarea id="DescriptionHigh" name="DescriptionHigh" class="form-control" placeholder="Description"></textarea>
											</td>
										</tr>
											<td style="display: none;">
												<input type="hidden" name="Status" id="Status" value="active">
												<input type="hidden" name="CreatedDate" id="CreatedDate">
												<input type="hidden" name="CreatedBy" id="CreatedBy" value="<%= Name %>">
											</td>
											<td colspan="4" align="right">
												<Button  class="btn btn-primary"  id="btnSubmit" style="display: block;">Submit</Button>
												<input type="button"  class="btn btn-danger" id="btnEdit" style="display: none;" onclick="PostDataForEdit()" value="Edit">
											</td>
										</tr>
										<tr>
											<td colspan="5"><span id="msg"></span></td>
										</tr>
									</table>
								</form>

                                <hr>
								<table id="example2" class="table table-striped table-bordered">
									<thead>
										<tr>
										<th>ID</th>
										<th>Name</th>
										<th>Dietary</th>
										<th>Range from</th>
                                        <th>Range to</th>
										<th>Unit Type</th>
										<th>Level Type</th>
										<th>Description</th>
										<th>Level Type</th>
										<th>Description</th>
										<th>Level Type</th>
										<th>Description</th>
										<th>Status</th>
										<th>Created Date</th>
										<th>Created By</th>
										<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										<% var j=1;  for(var i=0; i<Vitamin.length; i++)
										{
											%>
											<tr>
												<td>
													<a href="#" title="Edit" onclick='EditvitaminObject("<%= Vitamin[i]._id %>","<%= Vitamin[i].VitaminName %>","<%= Vitamin[i].VitaminDietary %>","<%= Vitamin[i].RangeStart %>","<%= Vitamin[i].RangeEnd %>","<%= Vitamin[i].LevelType %>","<%= Vitamin[i].Description %>","<%= Vitamin[i].LowLevel %>","<%= Vitamin[i].DescriptionLow %>","<%= Vitamin[i].HighLevel %>","<%= Vitamin[i].DescriptionHigh %>","<%= Vitamin[i].UnitType %>")'><i class="lni lni-pencil-alt"></i></a> 
													<a href="/api/vitamin/id=<%= Vitamin[i]._id %>" onclick="Delete('<%= Vitamin[i]._id %>')"><i class="lni lni-trash"></i></a>
												</td>
												<td><%= j %></td>
												<td><%= Vitamin[i].VitaminName %></td>
												<td><%= Vitamin[i].VitaminDietary %></td>
												<td><%= Vitamin[i].RangeStart %></td>
												<td><%= Vitamin[i].RangeEnd %></td>
												<td><%= Vitamin[i].UnitType %></td>
												<td><%= Vitamin[i].LevelType %></td>
												<td><%= Vitamin[i].Description %></td>
												<td><%= Vitamin[i].LowLevel %></td>
												<td><%= Vitamin[i].DescriptionLow %></td>
												<td><%= Vitamin[i].HighLevel %></td>
												<td><%= Vitamin[i].DescriptionHigh %></td>
												<td><%= Vitamin[i].Status %></td>
												<td><%= Vitamin[i].CreatedDate %></td>
												<td><%= Vitamin[i].CreatedBy %></td>
												
											</tr>
										<% j++}
										%> 
									</tbody>
							<table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end page wrapper -->
		<!--start overlay-->
		<div class="overlay toggle-icon"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		<footer class="page-footer">
			<p class="mb-0">Copyright © 2021. All right reserved.</p>
		</footer>
	</div>
	<!--end wrapper-->
	<!--start switcher-->
	<div class="switcher-wrapper">
		<div class="switcher-btn"> <i class='bx bx-cog bx-spin'></i>
		</div>
		<div class="switcher-body">
			<div class="d-flex align-items-center">
				<h5 class="mb-0 text-uppercase">Theme Customizer</h5>
				<button type="button" class="btn-close ms-auto close-switcher" aria-label="Close"></button>
			</div>
			<hr/>
			<h6 class="mb-0">Theme Styles</h6>
			<hr/>
			<div class="d-flex align-items-center justify-content-between">
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="lightmode" checked>
					<label class="form-check-label" for="lightmode">Light</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="darkmode">
					<label class="form-check-label" for="darkmode">Dark</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="flexRadioDefault" id="semidark">
					<label class="form-check-label" for="semidark">Semi Dark</label>
				</div>
			</div>
			<hr/>
			<div class="form-check">
				<input class="form-check-input" type="radio" id="minimaltheme" name="flexRadioDefault">
				<label class="form-check-label" for="minimaltheme">Minimal Theme</label>
			</div>
			<hr/>
			<h6 class="mb-0">Header Colors</h6>
			<hr/>
			<div class="header-colors-indigators">
				<div class="row row-cols-auto g-3">
					<div class="col">
						<div class="indigator headercolor1" id="headercolor1"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor2" id="headercolor2"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor3" id="headercolor3"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor4" id="headercolor4"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor5" id="headercolor5"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor6" id="headercolor6"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor7" id="headercolor7"></div>
					</div>
					<div class="col">
						<div class="indigator headercolor8" id="headercolor8"></div>
					</div>
				</div>
			</div>
			<hr/>
			<h6 class="mb-0">Sidebar Colors</h6>
			<hr/>
			<div class="header-colors-indigators">
				<div class="row row-cols-auto g-3">
					<div class="col">
						<div class="indigator sidebarcolor1" id="sidebarcolor1"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor2" id="sidebarcolor2"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor3" id="sidebarcolor3"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor4" id="sidebarcolor4"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor5" id="sidebarcolor5"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor6" id="sidebarcolor6"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor7" id="sidebarcolor7"></div>
					</div>
					<div class="col">
						<div class="indigator sidebarcolor8" id="sidebarcolor8"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--end switcher-->
	<!-- Bootstrap JS -->
	<script src="/dashboard_assets/js/bootstrap.bundle.min.js"></script>
	<!--plugins-->
	<script src="/dashboard_assets/js/jquery.min.js"></script>
	<script src="/dashboard_assets/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="/dashboard_assets/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="/dashboard_assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>

	<script src="/dashboard_assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
	<script src="/dashboard_assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>
	<!--app JS-->
	<script>
		$(document).ready(function() {
			$('#example').DataTable();
		  } );
	</script>
	<script>
		$(document).ready(function() {
			var table = $('#example2').DataTable( {
				lengthChange: false,
				buttons: [ 'copy', 'excel', 'pdf', 'print']
			} );
		 
			table.buttons().container()
				.appendTo( '#example2_wrapper .col-md-6:eq(0)' );
		} );

	</script>
	<script src="/dashboard_assets/js/app.js"></script>


    
</body>

</html>